.signup-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #36454f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .success-message, .error-message {
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
  }
  
  .success-message {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .error-message {
    background-color: #f44336;
    color: #fff;
  }
  